<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/tool"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tool http://www.springframework.org/schema/tool/spring-tool.xsd">
    <bean id="parenttriangle" class="com.springdemo.beanfactory.Traingle" abstract="true">
        <property name="pointA" ref="point1"/>
    </bean>
    <bean id="triangle" class="com.springdemo.beanfactory.Traingle" parent="parenttriangle">
        <property name="type" value="Equilateral"/>
        <property name="pointC">
            <!-- inner bean -->
            <bean id="point  3" class="com.springdemo.beanfactory.Point">
                <property name="x" value="-20"/>
                <property name="y" value="0"/>
            </bean>
        </property>
        <property name="pointB" ref="point2"/>
    </bean>
    <bean id="point1" class="com.springdemo.beanfactory.Point">
        <property name="x" value="${pointA.pointX}"/>
        <property name="y" value="${pointA.pointY}"/>
    </bean>
    <bean id="point2" class="com.springdemo.beanfactory.Point">
        <qualifier value="qualifier-value"/>
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>
    <bean id="circle" class="com.springdemo.beanfactory.Circle">
        <constructor-arg index="0" value="Big Circle"/>
        <constructor-arg index="1" value="10"/>
        <property name="points">
            <list>
                <ref bean="point1"/>
                <ref bean="point2"/>
            </list>
        </property>
    </bean>

    <bean id="rectangle" class="com.springdemo.beanfactory.Rectangle" autowire="byName"
          init-method="myInit"
          destroy-method="myDestroy"/>
    <alias name="triangle" alias="triangle-alias"/>
    <bean class="com.springdemo.beanfactory.DisplayNameBeanPostProcessor"/>
    <bean class="com.springdemo.beanfactory.MyBeanFactoryPostProcessor"/>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="pointsconfig.properties"/>
    </bean>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>mymessages</value>
            </list>
        </property>
    </bean>
</beans>